input[type=text],input[type=tel],input[type=date],input[type=email] {
    width: 30%;
    padding: 5px 20px;
    margin: 5px 0;
    margin-left: 4rem;
    border: 2px solid #ccc;
    background-color: #f8f8f8;
    box-sizing: border-box;
  }

input[type=submit]{
    width: 30%;
    background-color: rgb(190, 221, 240);
    color: rgb(34, 33, 31);
    margin-left: 9em;
    
}

textarea {
    width: 50%;
    height: 60px;
    padding: 6px 40px;
    box-sizing: border-box; 
    border: 2px solid #ccc;
    background-color: #f8f8f8;
    border-radius: 3px;
    resize: none;
    margin-left: 4rem;

  }

   

.container{
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(97, 168, 212);
    

}
.container h1 {
    text-align: center;
}

body{
    background-color: rgb(82, 181, 228);
    color: rgb(26, 25, 29);
}



.register {
    box-shadow:  0 0 20px 0 rgb(75, 121, 146);
    padding: 1em;
    background-color: rgb(213, 223, 230);
}
.register > *{
    padding: 1em;
}

.container .form .input_alanı {
    display: flex;
    align-items: center;
    margin-bottom: 10px;

}

.container .form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.form .input_alanı{

    width: calc(100% / 2);
}

.form .input_alanı input{
    height: 75%;
    width: 50%;
}

.container .form .input_alanı .gender_sec select {
    width: 100px;
    margin-left: 4rem;
}


.container .form .input_alanı label{
    
    width: 50px;
}

@media (max-width: 500px) {

    .container {
            max-width: 100%;
    }

    .form .input_alanı{
        width: 100%;
    }
    
    .container .form .input_alanı .gender_sec select {
        width: 70px;
        
    }    
    .container .form .input_alanı input[type=submit]{
        height: 30px;
    }
    
    
}