input[type=text],input[type=tel],input[type=date],input[type=email] {
    width: 30%;
    padding: 5px 20px;
    margin: 5px 0;
    margin-left: 4rem;
    border: 2px solid #ccc;
    background-color: #f8f8f8;
    box-sizing: border-box;
  }

button[type=submit]{
    width: 60%;
    height: 30px;
    background-color: rgb(190, 221, 240);
    color: rgb(34, 33, 31);
    margin-left: 10rem;
    
}

textarea {
    width: 60%;
    height: 60px;
    padding: 6px 40px;
    box-sizing: border-box; 
    border: 2px solid #ccc;
    background-color: #f8f8f8;
    border-radius: 3px;
    resize: none;
    margin-left: 10rem;
  }

   

.container{
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(97, 168, 212);
    

}
.container h1 {
    text-align: center;
}

body{
    background-color:lightskyblue;
    color: rgb(26, 25, 29);
    
}



.register {
    box-shadow:  0 0 20px 0 rgb(75, 121, 146);
    padding: 1em;
    background-color: rgb(213, 223, 230);
}
.register > *{
    padding: 1em;
}

.container .form1 .input_alanı1 label {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 100px;
    
    
}
.container .form .input_alanı {
    display: flex;
    align-items: center;
    margin-bottom: 10px;

}
.container #error_message{
    margin-bottom: 4px;
    padding: 15px;
    background: rgb(43, 113, 179);
    text-align: center;
    font-size: large;
    color: cornsilk;
    transition: all 0.5s ease;       
    
}

.container .form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}



.form .input_alanı error-msg{
    font-size: 10px;
    padding-top: 8px;
    display: block;
    color: brown; 
    
}
.form .input_alanı{
    display: block;
    width: calc(100% / 2);
}

.form .input_alanı input{
    height: 75%;
    width: 50%;
}

.container .form .input_alanı .gender_sec select {
    width: 100px;
    margin-left: 4rem;
}



.container .form .input_alanı label{
    
    width: 50px;
}

@media (max-width: 500px) {

    .container {
            max-width: 100%;
    }

    .form .input_alanı{
        width: 100%;
    }
    
    .container .form .input_alanı .gender_sec select {
        width: 70px;
        
    }    
    
    
    
}